
.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 79px;
    background: rgba(0, 0, 0, 0.15);
}

.navContent {
    width: 1170px;
    height: 100%;
    margin: 0 auto; /*一个元素在另一个元素中水平居中*/
}

.logo {
    width: 150px;
    height: 50px;
    float: left;
    margin-top: 14px;
}
/*行内元素默认从左往右,无宽高属性，除非加上display*/
.logo a {
    display: block;
    width: 100%;
    height: 100%;
}
.logo a img{
    width: 100%;
    height: 100%;
}

.navlist {
    width: 602px;
    height: 100%;
    float: right;
}
.navlist li{
    float: left;
    width: 86px; /*宽度小于等于和的*/
    height: 100%;
}
.navlist li a{
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 79px;
    font-size: 14px;
    transition:color linear .5s;
}
.navlist li a:hover{
    color:#16b0bc;
}
/*鼠标移入时*/
/*nav*/
.banner{
    width: 100%;
    height: 299px;
}
.banner img{
    width: 100%;
    height: 299px;
}
/*banner*/
.workhome{
    width: 100%;
    height: 796px;
    background: white;
    padding-bottom: 60px;
    padding-top: 60px;
}
.workhomecontent {
    width:100%;
    height: 756px;
    background: white;
    margin: 0 auto;
}
.open{
    width: 520px;
    height: 20px;
    margin:auto;
    padding: 20px;
}
.text{
    white-space: normal;
    text-align: center;
    letter-spacing:1px;
    padding-bottom: 5px;
    padding-top: 5px;
}
.images{
    /*width: 530px;*/
    /*height: 340px;*/
    text-align: center;
    padding-top: 20px;
}


.foot{
    width: 100%;
    height: 150px;
    border-top: 1px solid gainsboro;
    padding-top: 20px;
    background:white;
}
.footcontent{
    width: 100%;
    height: 151px;
    background: whitesmoke;
}
.footerpic{
    width:100%;
    height: 46px;
    padding: 5px 0;
}
.footicon{
    width: 120px;
    height: 20px;
    margin-left:45%;
    padding-top: 5px;
}
.footicon img{
    float:left;
    width: 30px;
    height: 30px;
    margin-right: 10px;
    /*border-radius:20%;*/
}
.footcontent .footer{
    line-height: 1.5em;
    foot-size:14px;
    color: darkgray;
    text-align: center;
}
.footer a:hover{
    text-decoration: underline;
    color: deepskyblue;
}
/*foot*/